.red-btn {
    margin: 2px;
    background-color: rgb(120,0,0);
    color: white;
}

.red-bg {
    background-color:  rgb(120,0,0);
}
.gray-bg {
    background-color: gray;
}

.app-body {
    height: 100%;
}

/* .side-bar {
    padding-top: 15px;
    padding-right: 13px;
} */

.quant-width {
    width: 25pt;
}

.card-prop {
    width: 100%;
}

.verzend-button {
    float: right;
}