.red-btn {
    margin: 2px;
    background-color: rgb(120,0,0);
    color: white;
}

.main-btn {
    min-height: 65px;
}


.red-btn:hover,
.red-btn:active,
.red-btn:focus {
    background-color: black;
    color: white;
    border: 1px solid rgb(120,0,0);
}

.red-bg {
    background-color:  rgb(120,0,0);
}

.white-bg {
    background-color: white;
}

.bestel-heading {
    z-index: 777;
}

.app-body {
    height: 100%;
}

.quant-width {
    width: 25pt;
}

.card-prop {
    width: 100%;
}

.verzend-button {
    float: right;
}